.recipeContainer {
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newRecipeButton {
  background-color: #e24545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.recipeCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipeImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.recipeCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.recipeInfo {
  padding: 10px;
}

.emptyCard {
  text-align: center;
  padding: 20px;
}

.placeholderImage {
  width: 100px;
  height: 100px;
}

.tagTraditional {
  background: #ffcc99;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.tagOwn {
  background: #ffdda3;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchBar {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 400px;
  font-size: 14px;
}

.searchButton {
  background-color: #e24545;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}